[user]
	email = mail@davidlj95.com
	name = "David LJ"
	signingKey = 1441FA435DE6AC64
[commit]
    gpgSign = true

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[diff "lockb"]
	textconv = bun
	binary = true
[column]
	ui = auto
[branch]
	sort = -committerdate

# Machine-specific configuration
[include]
	path = ~/.gitconfig.local
