#!/usr/bin/env bash
# Git
alias gcd="git checkout develop"
alias gcm="git checkout master"
alias gpf="git push --force-with-lease"
alias gst="git status"
alias glog="git log"
alias gca="git commit --all"

# # Git flow
alias gfli="git flow init"
alias gflfs="git flow feature start"
alias gflff="git flow feature finish"
alias gflfp="git flow feature publish"

# Clipboard
alias clipcopy="xsel --clipboard"

# FASD
alias v='f -e vim' # quick opening files with vim
alias m='f -e mplayer' # quick opening files with mplayer
alias o='a -e xdg-open' # quick opening files with xdg-open

# LSD if available
if command -v lsd > /dev/null 2>&1; then
	alias ls=lsd
fi

# Music helpers
alias c2s="playerctl -p spotify play && playerctl -p clementine stop"
alias s2c="playerctl -p clementine play && playerctl -p spotify stop"
alias mplay="playerctl play"
alias mstart="mplay"
alias mstop="playerctl stop"
alias mvol="playerctl volume"
alias mvolume="mvol"

# OS-Specific aliases
if [ `uname -o` = "Cygwin" ] && [ -d "$NIRCMD_HOME" ]; then
	alias sudo="$NIRCMD_COMMAND elevate cmd.exe /K "
fi
